<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pratikm.PatientTracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivty"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".SearchNameActivity"
            android:label="Search By Name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContactActivity"
            android:screenOrientation="portrait"
            android:label="Add Contact Details"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".AddHealthActivity"
            android:screenOrientation="portrait"
            android:label="Add Health Details"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".HealthDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".AddHealthRecordActivity" />
        <activity android:name=".SearchDateActivity">

        </activity>
    </application>

</manifest>